.form{
    width: 300px;
    height:450px;
    background: linear-gradient(to top, rgba(0,0,0,), rgba(0,0,0,));
    position: absolute;
    top: -20px;
    left: 87;
    border-radius: 10px;
    padding: 25px;
    
}

.form h2{
    width: 300px;
    font-family:  sans-serif;
    text-align: center;
    color: blue;
    font-size: 22px;
    background-color: azure;
    border-radius: 15px;
    margin: 2px;
    padding: 0px;
}

